.description {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
  /* background-color: #50B6F4; */
}

.description .text {
  position: relative;
  box-sizing: border-box;
  padding: 2em;
  max-height: 100%;
  overflow: auto;
}

.description .text span {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;

}
