.members {
  margin-top: 2em;
  padding: 0 1em;
  height: calc(100% - 2em);
  flex-direction: column;
}

.members .members-div {
  /* height: 50%; */
  overflow: auto;
}

.members .members-div::-webkit-scrollbar {
  display: none;
}

.members .member-div {
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 0.25em 0.5em;
  cursor: pointer;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.members .commit-div p {
  text-align: center;
}

.members .commit-div p:first-child {
  font-size: .6em;
}

.members .commit-div p:last-child {
  font-size: 1.5em;
}

.members .member-div:hover,
.members .member-div.active {
  background-color: #fff;
  color: #071F37;
}

.members .member-div p{
  margin: 0;
}
