.mainmenu {
  width: 75vw;
  min-height: 100vh;
  flex-grow: 1;
  background-color: #0E3861;
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
}

.mainmenu .chart {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: .5em 1em;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.mainmenu .chart h3 {
  margin-bottom: .5em;
}
