.sidemenu {
  width: 35vw;
  height: 100%;
  min-height: 100vh;
  flex-grow: 0;
  background-color: #071F37;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.sidemenu .tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  z-index: 9;
  /* bottom: 10px; */
}

.sidemenu .tabs p {
  margin: 0;
}

/* .sidemenu .content {
  height: 100%;
  display: flex;
  flex-direction: row;
} */

.sidemenu .side-tab {
  display: none;
}

.sidemenu .side-tab.active {
  display: flex;
}
