@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: lighter;
  /* font-size: 3vw; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
